 #headline {
        background-color: black;
        color: white;
    }

#name {
    font-size: 50px;
    padding-left: 10px;
    padding-top: 34px;
}

#pagelinks {
    display: flex;
    justify-content: right;
    flex-direction: row;
}
    .pagelink {
        padding-right: 52px;
        padding-bottom: 20px;
        color: white;
        font-size: 30px;
    } 
    
#newsection {
    padding-top: 220px 
    }
    
#worklinks {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
    
.worklink {
    padding-right: 48px;
}  
    #work1 {
        background-image: url("solid-red-background.jpg");
        color: white; 
        font-size: 36px;
        height: 100px;
    }
    #work2 {
        background-image: url("pure-blue-background.jpg");
        color: white; 
        font-size: 16px;
        position: relative;
        top: -20px;
    }
    #work3 {
        background-image: url("forest-green-background.jpg");
        color: white; 
        font-size: 16px;
        position: relative; 
        bottom: 20px;
    }
    #contactme {
    background-color: black;
    color: white; 
    }
    #contactinfo {
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding-bottom: 40px;
    }
    .contact {
        color: white;
        padding-right: 40px;
    }